<h1 class="easygiving col-sm-6 col-sm-offset-3"> <br> Easy Giving </h1>

<h4 class="desc col-sm-6 col-sm-offset-3">Easy Giving makes it simple to donate to your favorite charities!</h4>

<div class="col-sm-4 col-sm-offset-4 contentbox">
<br><br><br><br><br><br>

<div class= "sign_up">
	<%= link_to "Sign Up", signup_path %>
</div>

</div>

