<h1>  Easy Giving </h1>

<div class="col-sm-6 col-sm-offset-3 contentbox"> 
<p class="intro"> Thank you for joining Easy Giving! </p>

<br>
<br>
<br>

<p class="intro"> Which charity would you like to donate to? </p>



<div class="dropdown">
  <a data-toggle="dropdown" href="#" class="btn btn-success">
  	Choose a Charity
  	<span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a href="">Red Cross</a></li>
    <li><a href="">Sikhs for Justice</a></li>

  </ul>
</div>






</div>















