<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "style.css", :media => "all" %>

  <%= javascript_include_tag "application" %>
</head>
<body>
  <%= yield %>
</body>
</html>